.products_item{
    display: flex;
}
.content-wrap{
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #e77a1e;
    padding: 10px;
    width: auto;
    margin: 16px;
    float: left;
  }

  .content-wrap  .button-container {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        height: 20vh; 
      
  }

  .button-container button{
    padding: 10px 8px;
    background-color: orange;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }